@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}


:root {

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #F2F5F9;
  --bright-blue: #3662E3;
  --dark-blue-1: #111729;
  --dark-blue-2: #4e80ee33;
  --grayish-blue: #364153;
  --grayish-blue-2: #1d2334;
  --black: #030617;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--dark-blue-1);
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.form-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

form.url {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 90%;
}

form.url button[type="submit"] {
  background-color: var(--bright-blue);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 140px;
  margin-left: -9rem;
}

form.url input[type="text"] {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--bright-blue);
  border-radius: 0.9rem;
  padding: 1rem 1rem;
  width: 100%;
  font-size: .8em;
  font-weight: 500;
}

form.url input[type="text"]::placeholder {
  color: var(--grayish-blue);
}